<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632079111901-mp2bd1nhvf03f3d2dfq1dfftp6h1tgql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632079111901-mp2bd1nhvf03f3d2dfq1dfftp6h1tgql</string>
	<key>API_KEY</key>
	<string>AIzaSyA51eJvC9rrgG5_5Hr8ZW4gt8iAXl1VIsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>632079111901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kostalosh.ArticulosBD</string>
	<key>PROJECT_ID</key>
	<string>articulosbd-bc417</string>
	<key>STORAGE_BUCKET</key>
	<string>articulosbd-bc417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632079111901:ios:1384365c368b58c2b32d34</string>
</dict>
</plist>